body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #e0e0e0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A0A23;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-left {
    display: flex; 
    align-items: center;
    padding: 10px 15px; 
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    font-size: 30px;
    margin: 0; 
    font-weight: 600; 
    text-shadow: 1px 1px 2px rgba(188, 5, 5, 0.8);
  }

  .navbar-left:hover{
    cursor: pointer;
    color: #aeff00;
    text-shadow: 0 0 10px rgba(242, 255, 1, 0.5);
  }  

.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 40px;
}
.navbar-right .img3{
    font-size: 15px;
}

.navbar-right a {
    margin-left: 15px;
}

.navbar-right img {
    width: 30px;
    height: 30px;
}

.navbar::after {
    content: "";
    display: block;
    width: 100%; 
    height: 1.2px; 
    background-color: #ffffff; 
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(228, 6, 6, 0.5);
  }


.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 130px;
}

.profile-img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #1e90ff;
    transform: scale(1.1);
    box-shadow: 0 40px 80px rgba(253, 253, 253, 0.2);
    cursor: pointer;
}
.styled-hr {
    border: none;
    height: 2px;
    background-color: #1e90ff;
    margin: 20px 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


/* Hover effect */
.profile-img:hover {
    transform: scale(1.1);
    box-shadow: 0 40px 80px rgba(0, 252, 42, 0.2);
    cursor: pointer;
}

main {
    padding: 50px 20px;
}

section {
    margin-bottom: 40px;
}

.about h2 {
    margin-top: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about p {
    margin-top: 10px;
    font-size: 23px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.about-heading {
    background-color: #9822bf;
    color: #fff;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 10px; 
}

.skills h2{
    margin-top: 60px;
    font-size: 40px;
}
.skills p {
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-skills {
    background-color: #9822bf;
    color: #fff;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 40px; 
}
.skills-software{
    background-color: #fff;
    color: #000;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 26px;

}

.skills-core{
    background-color: #fff;
    color: #000;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
    font-size: 26px;
}
.skills p  {
    display: block; 
    text-align: center;
    width: fit-content;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.skills p:hover {
    background-color: #ffc400;
    color: #000;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    border-bottom: #9822bf;
}
/* project section */
.section-projects .projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    background-color: #6a6a6a6a;
    border: 2px solid #ff0000;
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    margin-bottom: 30px;
}

.project a{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style-type: none;
    color: #ffffff;
    background-color: #101010;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.project a:hover{
    background-color: #00ff15;
    color: #000000;
}


.projects-container {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #000000;
}

.section-projects h2 {
    background-color: #9822bf;
    color: #fff;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 40px;
}
/* project end */

/* Style for the Certificates section */
#certificates {
    padding: 20px;
    color: #ffffff;
}

#certificates h2 {
  font-size: 30px;;
  margin-bottom: 60px;
}

.certificate-list {
  list-style-type: none;
  padding: 0;
}

.certificate-list li {
  margin-bottom: 20px;
}

.certificate-list a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 5px 10px;
}

.certificate-list a:hover {
  background-color: #ffaa00;
  color: #000000;
  border-radius: 10px;
  border: 1px solid black;
}

.certificate-list p {
  font-size: 20px;
  color: #ffffff;
  padding: 30px;
  margin-bottom: 60px;

}

.section-container h2{
    background-color: #9822bf;
    color: #fff;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    position: relative;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #555;
  }
  
  .btn::after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg); /* Rotating the arrow at 45 degrees */
    width: 10px;
    height: 10px;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transition: transform 0.3s ease;
  }
  
  .btn:hover::after {
    transform: translateY(-50%) rotate(45deg) translateX(5px); /* Move the arrow on hover */
  }

/* certificate edit done */

/* achievements */

.achievements h2{
    background-color: #9822bf;
    color: #fff;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
}
.achievements ul li{
    list-style-type: none;
    font-size: 24px;
    margin-bottom: 40px;
}

/* Contact Section Styling */
.contact-section {
    text-align: center;
    margin: 50px 0;
    padding: 20px;
    border-radius: 8px;
  }
  
  .contact-section h2 {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .contact-section p {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .contact-btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 1.1em;
    color: #fff;
    background-color: #d44638;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
  .contact-btn:hover {
    background-color: #b53730; 
  }
  

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    position: relative;

}

footer p {
    font-size: 20px;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-right {
        margin-top: 10px;
    }
}
