body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #e0e0e0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A0A23;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-left {
    display: flex; 
    align-items: center;
    padding: 10px 15px; 
    border-radius: 5px;
    color: white;
    font-size: 30px;
    margin: 0; 
    font-weight: 600; 
  }

  .navbar-left:hover{
    cursor: pointer;
    color: #aeff00;
    text-shadow: 0 0 10px rgba(242, 255, 1, 0.5);
  }  

.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 15px;
}
.navbar-right .img3{
    font-size: 15px;
}

.navbar-right a {
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
}

.navbar-right img {
    width: 30px;
    height: 30px;
}

.navbar::after {
    content: "";
    display: block;
    width: 100%; 
    height: 1.2px; 
    background-color: #ffffff; 
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(228, 6, 6, 0.5);
  }


.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 130px;
}

.profile-img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(254, 254, 254, 0.7), 
    0 0 12px rgba(255, 255, 255, 0.9); 
    transform: scale(1.1);
    cursor: pointer;
}
.styled-hr {
    border: none;
    height: 2px;
    background-color: #1e90ff;
    margin: 20px 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.profile-img:hover {
    transition: background-color 0.2s ease;
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(0, 191, 255, 0.8), 
    0 0 40px rgba(0, 191, 255, 1);
}


/* Optional styling for your visitor count */
#visitorCount {
    font-size: 1.2em;
    color: #000000;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}
main {
    padding: 50px 20px;
}

section {
    margin-bottom: 40px;
}

.about h2 {
    margin-top: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about p {
    font-size: 23px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    max-width: 1100px;
    margin: 0 auto;
}
.about-heading {
    background-color: #9822bf;
    color: #fff;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
}

.skills h2{
    margin-top: 60px;
    font-size: 40px;
}
.skills p {
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-skills {
    background-color: #9822bf;
    color: #fff;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 40px; 
    
}
.skills-software{
    background-color: #fff;
    color: #000;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 26px;

}

.skills-core{
    background-color: #fff;
    color: #000;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
    font-size: 26px;
}
.skills p  {
    display: block; 
    text-align: center;
    width: fit-content;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.skills p:hover {
    background-color: #ffc400;
    color: #000;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    border-bottom: #9822bf;
    box-shadow: 0 4px 10px rgba(0, 255, 255, 0.7),
    0 0 20px rgba(0, 255, 255, 0.8);
}
/* project section */
.section-projects .projects-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.project {
    background-color: #ffffff;
    border: 2px solid #f10000;
    color: #000000;
    border-radius: 5px;
    padding: 20px;
    width: 25%;
    margin-bottom: 30px;
}
.project a{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    list-style-type: none;
    color: #ffffff;
    background-color: #101010;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.project a:hover{
    background-color: #00ff15;
    color: #000000;
    
}

.projects-container {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #000000;
}

.section-projects h2 {
    background-color: #9822bf;
    color: #fff;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 40px;
}

.project i{
    margin-left: 6px;
}
/* project end */

/* Style for the Certificates section */
#certificates {
    padding: 20px;
    color: #ffffff;
}

#certificates h2 {
  font-size: 30px;;
  margin-bottom: 30px;
}

.certificate-list {
  list-style-type: none;
  padding: 0;
}

.certificate-list li {
  margin-bottom: 20px;
  max-width: 500px;
}

.certificate-list a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 5px 10px;
}

.certificate-list a:hover {
  background-color: #ffaa00;
  color: #000000;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.7),
              0 0 20px rgba(0, 255, 255, 0.8);
}

.certificate-list p {
  font-size: 18px;
  color: #ffffff;
  padding: 30px;
  margin-bottom: 29px;

}

.section-container h2{
    background-color: #9822bf;
    color: #fff;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 40px;
}

.certificate-list i{
    font-size: 20px;
}
/* certificate edit done */

/* achievements */

.achievements h2{
    margin-top: -20px;
    background-color: #9822bf;
    color: #fff;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
}
.achievements ul li{
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 20px;
}

/* Contact Section Styling */
.contact-section {
    text-align: center;
    margin: 50px 0;
    padding: 20px;
    border-radius: 8px;
  }
  
  .contact-section h2 {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .contact-section p {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .contact-btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 1.1em;
    color: #fff;
    background-color: #d44638;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
  .contact-btn:hover {
    background-color: #b53730; 
  }

  .top-button {
    position: fixed;
    bottom: 33px;
    right: 30px; 
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: none;
    z-index: 100; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
  .top-button:hover {
    background-color: #ffaa00;
  color: #000000;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.7),
              0 0 20px rgba(0, 255, 255, 0.8);
  }

  

footer {
    text-align: center;
    padding: 8px;
    background-color: #000;
    position: relative;

}

footer p {
    font-size: 20px;
}

/* Responsive Styles for Smaller Devices */
  
  @media (max-width: 360px) {
    .top-button {
      bottom: 10px;
      right: 5px;
      padding: 6px 12px;
      font-size: 10px;
    }
    .top-button .arrow {
        font-size: 12px;
      }
  }

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-right {
        margin-top: 6px;
    }

    .top-button {
        bottom: 20px;
        right: 10px;
        padding: 7px 14px;
        font-size: 10px;
    }
    .top-button .arrow {
        font-size: 12px;
    }

}

@media (max-width: 768px) {
    .profile-section {
        margin-top: 80px;
    }

    .profile-img {
        width: 180px;
        height: 180px;
        transform: scale(1); /* Adjust scale for smaller devices */
    }
}

@media (max-width: 480px) {
    .profile-section {
        margin-top: 100px;
    }

    .profile-img {
        width: 160px;
        height: 160px;
        transform: scale(1);
    }

    .navbar {
        padding: 10px 15px;
    }

    .navbar .navbar-right{
        font-size: 16px;
    }

    .navbar .navbar-left{
        font-size: 20px;
    }

    .navbar-right a {
        margin-top: -10px;
        margin-bottom: -5px;
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .project {
        width: 60%;
        height: 220px;
    }

    .shop-a{
        margin-bottom: 10px;
    }

    .about h2{
        font-size: 20px;
    }
    .about p {
        font-size: 14px;
    }
    .about-skills{
        font-size: 25px;
        margin-bottom: -20px;
    }

    .skills-software{
        font-size: 20px;
    }
    .skills-core{
        font-size: 20px;
    }
    .skills p{
        font-size: 16px;
    }

    .section-projects h2{
        font-size: 20px;
    }
    .project h3{
        font-size: 15px;
    }
    .project p{
        font-size: 13px;
    }
    .project a{
        font-size: 10px;
    }

    #certificates h2{
        font-size: 20px;
    }
    .certificate-list a{
        font-size: 15px;
    }
    .cpara {
        font-size: 10px;
    }

    .achievements h2{
        font-size: 20px;
    }
    .achievements ul li{
        font-size: 16px;
    }
    .contact-section h2{
        font-size: 22px;
    }
    .contact-section p{
        font-size: 16px;
    }
    .contact-section a{
        font-size: 12px;
    }
    #visitorCount{
        font-size: 15px;
    }
    footer{
        padding: 12px;
    }
    footer p{
        font-size: 14px;
    }
}
