body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #e0e0e0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-left {
    display: flex; 
    align-items: center;
    padding: 10px 15px; 
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin: 0; 
    font-weight: 600; 
  }

.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 15px;
}
.navbar-right .img3{
    font-size: 15px;
}

.navbar-right a {
    margin-left: 15px;
}

.navbar-right img {
    width: 30px;
    height: 30px;
}

/* intro */

/* Intro Section Styling */
.intro-section {
    color: #f1c40f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 77vh;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.intro-content {
    max-width: 700px;
    animation: fadeIn 1.5s ease-in-out;
}

.intro-section h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #f39c12;
}

.intro-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #f1f1f1;
}

.intro-button {
    background-color: #f39c12;
    color: #000000;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.intro-button:hover {
    background-color: #e67e22;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 2;
        transform: translateY(0);
    }
}


.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 130px;
}

.profile-img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(254, 254, 254, 0.7), 
    0 0 12px rgba(255, 255, 255, 0.9);
    cursor: pointer;
}
.styled-hr {
    border: none;
    height: 2px;
    background-color: #1e90ff;
    margin: 20px 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.profile-img:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(0, 191, 255, 0.8), 
    0 0 40px rgba(0, 191, 255, 1);
}

main {
    padding: 50px 20px;
}

section {
    margin-bottom: 40px;
}

.about-skills {
    background-color: #fff;
    color: #ac0202;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
    font-size: 20px;
}

.about h2 {
    margin-top: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about p {
    font-size: 23px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    max-width: 1100px;
    margin: 0 auto;
}
.about-heading {
    color: #fff;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
}

/*  the skills section starts */

.skills-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.s-container1 {
    background-color: #ffffff;
    padding: 5px 40px;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 9, 9, 0.9);
}
.s-container1:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(241, 209, 0, 0.8), 
    0 0 40px rgb(247, 226, 0);
}

.s-container2 {
    background-color: #fff;
    padding: 5px 23px;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 50, 58, 0.9);
}
.s-container2:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(241, 209, 0, 0.8), 
    0 0 40px rgb(247, 226, 0);
}

.s-container2 p {
    margin-left: 12px;
    margin-right: -10px;
}

.about-skills {
    background-color: #9822bf;
    color: #fff;
    padding: 10px 20px; 
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px; 
    
}
.skills-software{
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
    font-size: 26px;
}

.skills-core{
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px; 
    border-radius: 3px;
    display: inline-block;
    font-size: 26px;
    margin-left: 20px;
}
.skills p  {
    display: block; 
    text-align: center;
    width: fit-content;
    padding: 5px 10px;
}
.skills-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 30px;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 30px;
  align-items: stretch
}

.skill-category {
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  transition: transform 0.3s ease;
}

.skill-category:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(255, 0, 0, 0.4);
}

.skill-category h2 {
  margin-bottom: 15px;
  font-size: 1.4em;
  text-align: center;
  border-bottom: 2px solid #000000;
  padding-bottom: 10px;
  color: #000000;
}

.skill {
  margin-bottom: 20px;
}

.skill span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.myskills {
  font-size: 2.2em;
  margin-bottom: 20px;
  text-align: center;
}
/*  the skills section ends */




/* Software Projects Section Styles */

.section-projects {
  color: #000000;
  padding: 40px 20px;
  text-align: center;
}

.section-projects h2 {
  font-size: 2.2em;
  color: #ffffff;
  margin-bottom: 40px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.project {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 196, 222, 0.3);
  max-width: 300px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
}

.project:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 15px rgba(255, 0, 0, 0.4);
}

.project img.logo {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.project h3 {
  color: #000000;
  font-size: 1.4em;
  margin: 15px 0 10px;
}

.paraedit {
  color: #171414;
  font-size: 0.95em;
  line-height: 1.4;
  margin-bottom: 15px;
}

.project a {
  display: inline-block;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
}

.project a:hover {
  cursor: pointer;
  text-decoration: underline;
}
 
  
/* Certificates Section Styles */

#certificates {
  color: #000000;
  padding: 20px 10px;
  text-align: start;
}

#certificates h2 {
  font-size: 2.4em;
  color: #ffffff;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.certificate-list {
  display: flex; 
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.certificate-div {
  background-color: #ffffff;
  width: 100%;
  max-width: 400px;
  height: min-content;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(5, 217, 199, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificate-div:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 15px rgba(255, 56, 1, 0.4);
}

.certificate-div a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 10px;
}

.certificate-div a:hover {
  text-decoration: underline;
}
  
.cpara {
  font-size: 0.9em;
  color: #201a1a;
  line-height: 1.4;
}

/* certificate edit done */



/* achievements  start */

#myAchievements {
  color: #000000;
  padding: 40px 20px;
  text-align: center;
}

#myAchievements h2 {
  font-size: 2.2em;
  color: #ffffff;
}

#myAchievements ul {
  list-style-type: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

#myAchievements ul li {
  font-size: 1.1em;
  line-height: 1.6;
  margin: 10px 0;
  padding: 10px;
  border-left: 4px solid #ffdf00; 
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(6, 166, 187, 0.3);
  border-radius: 4px;
  margin-bottom: 15px;
}

#myAchievements ul li b {
  color: #000000;
}
  

/* achievements  ends */

/* Contact Section Styling */
.contact-section {
    text-align: center;
    margin: 50px 0;
    padding: 20px;
    border-radius: 8px;
}
  
.contact-section h2 {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 10px;
}
  
.contact-section p {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 20px;
}
  
.contact-btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 1.1em;
    color: #fff;
    background-color: #d44638;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}
  
.contact-btn:hover {
    background-color: #b53730; 
}

/* top button */

.top-button {
    position: fixed;
    bottom: 33px;
    right: 30px; 
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: none;
    z-index: 100; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
  
.top-button:hover {
    background-color: #ffaa00;
  color: #000000;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 4px 10px rgba(0, 255, 255, 0.7),
              0 0 20px rgba(0, 255, 255, 0.8);
}

  
/* footer */

footer {
    background-color: rgba(10, 10, 10, 0.85); 
    color: #cccccc;
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
  }
  
  footer p {
    margin: 0;
    line-height: 1.6;
  }
  
  footer p a {
    color: #ffdf00; /* Golden color for any potential links */
    text-decoration: none;
  }
  
  footer p a:hover {
    color: #ffd700; /* Lighter yellow on hover */
    text-decoration: underline;
  }
  /* footer end */

  

/* Responsive for Smaller Devices */
  
  @media (max-width: 340px) {
    .top-button {
      bottom: 10px;
      right: 5px;
      padding: 6px 12px;
      font-size: 10px;
    }
    .top-button .arrow {
        font-size: 12px;
    }

  }

@media (max-width: 600px) {
    .navbar {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .navbar-right {
        margin-top: 6px;
    }

    .top-button {
        bottom: 20px;
        right: 10px;
        padding: 7px 14px;
        font-size: 10px;
    }
    .top-button .arrow {
        font-size: 12px;
    }

}

@media (max-width: 768px) {
    .profile-section {
        margin-top: 80px;
    }

    .profile-img {
        width: 180px;
        height: 180px;
        transform: scale(1);
    }

    .skills-section {
        flex-direction: column;
        gap: 15px;
        padding: 40px;
        margin-right: 35px;
        gap: 30px;
    }
    
    .skill-category {
        width: 100%;
    }

    .certificate-list {
        gap: 15px;
    }
      
      .certificate-div {
        max-width: 90%;
        padding: 15px;
    }

    .projects-container {
        gap: 15px;
    }
      
    .project {
        max-width: 70%;
        padding: 30px;
        margin-bottom: 20px;
    }

    #myAchievements h2 {
        font-size: 1.8em;
    }
    
    #myAchievements ul li {
        font-size: 1em;
        padding: 8px;
    }
}

@media (max-width: 480px) {

    .profile-img {
        width: 170px;
        height: 170px;
        transform: scale(1);
    }

    .navbar {
        padding: 10px 15px;
    }

    .navbar .navbar-right a{
        font-size: 10px;
    }
    .navbar-right a img{
        margin-top: 13px;
        width: 20px; /* Set the desired width */
        height: auto;
    }

    .navbar .navbar-left{
        font-size: 16px;
    }

    .navbar-right a {
        margin-top: -10px;
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .logo{
        width: 240px;
        object-fit: contain;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(2, 2, 2, 0.5);
    }

    .intro-section h1 {
        font-size: 26px;
    }

    .intro-section p {
        font-size: 15px;
    }

    .intro-button {
        padding: 6px 12px;
    }

    .skills-container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .skills-section {
        padding: 30px;
        gap: 40px;
        margin-right: 35px;
    }
    
    .skill-category h2 {
        font-size: 1.2em;
    }

    .projects-container h2 {
        font-size: 1.8em;
    }
    
    .project {
        max-width: 100%;
        padding: 15px;
    }
    
    .paraedit {
        font-size: 0.85em;
    }

    .s-container1 {
        margin-top: 30px;
        margin-left: 20px;
        margin-bottom: 30px;
        height: min-content;
        width: max-content;
    }
    .s-container2 {
        margin-top: 20px;
        margin-left: 20px;
        height: min-content;
        width: max-content;
    }
    .s-container1 p {
        font-size: 5px;
    }
    .s-container2 p {
        font-size: 5px;
    }

    #certificates h2 {
        font-size: 1.8em;
    }
    
    .certificate-div {
        max-width: 100%;
        padding: 15px;
    }
    
    .cpara {
        font-size: 0.85em;
    }

    .shop-a{
        margin-bottom: 10px;
    }

    .about h2{
        font-size: 20px;
    }
    .about p {
        font-size: 14px;
    }
    .about-skills{
        font-size: 25px;
        margin-bottom: -20px;
    }

    .skills-software{
        font-size: 20px;
    }
    .skills-core{
        font-size: 20px;
    }
    .skills p{
        font-size: 16px;
    }

    .section-projects h2{
        font-size: 20px;
    }
    .project h3{
        font-size: 18px;
    }
    .project p{
        font-size: 16px;
    }
    .project a{
        font-size: 14px;
    }

    #certificates h2{
        font-size: 20px;
    }
    .certificate-list a{
        font-size: 15px;
    }
    .cpara {
        font-size: 10px;
    }

    #myAchievements h2 {
        font-size: 1.6em;
    }
    
      #myAchievements ul li {
        font-size: 0.9em;
        padding: 6px;
    }

    .contact-section h2{
        font-size: 22px;
    }
    .contact-section p{
        font-size: 16px;
    }
    .contact-section a{
        font-size: 12px;
    }

    footer {
        font-size: 0.8em;
        padding: 15px;
    }
}